.loader-wrapper {
  width: 72px;
  height: 8px;
  border-radius: 4px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
  border: 1px solid #00adb5;

  &__small {
    width: 72px;
  }

  &__medium {
    width: 88px;
  }

  &__big {
    width: 104px;
  }
}

.hori-bar {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: #00adb5;
  animation: move_bar 3s linear infinite;
}

@keyframes move_bar {
  0% {
    transform: translate(-100%);
  }
  50% {
    transform: translate(10%);
  }
  100% {
    transform: translate(100%);
  }
}
